@import "tailwindcss";

@theme {
  /* In v4, defining variables here automatically generates 
    utilities like bg-primary, text-primary, border-primary, etc.
  */
  --color-primary: #5a4bda;
  --color-secondary: #f3f4f6;
  --color-accent: #fbbf24;

  /* default font setup */
  --font-family-sans: 'Inter', sans-serif; 
}

/* Global Styles */
body {
  background-color: #ffffff;
  font-family: var(--font-family-sans);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}